{% extends 'base.html.twig' %}

{% block body %}
    <h2>{#Ekomi Application#} --- eeee ---</h2>

    <p>
        <a href = "#listProducts" class="btn btn-default">List Products</a>
        <a href="#addProduct" class="btn btn-default">Add Product</a>
    </p>

    <div ng-app="productApp" class="panel panel-default">
        <div ng-view class="panel-body"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/productApp.js') }}"></script>
    <script src="{{ asset('js/controllers/productCtrl.js') }}"></script>
    <script src="{{ asset('js/directives/integer.js') }}"></script>
    <script src="{{ asset('js/directives/pager.js') }}"></script>
    <script src="{{ asset('js/services/productStorage.js') }}"></script>
{% endblock %}
